[class^="HeroThumb-img"] {
    height: 150px;
    width: 150px;    
    border-radius: 100px;
    /*transition: width, height 0.9s;*/
    /*transition: height 0.2s;*/
    transition: all .2s ease-in-out;
}

[class^="HeroThumb-img"]:hover {
    /*width: 200px;
    height: 200px;*/
    transform: scale(1.1);    
}

.HeroThumb-img-selected {
    /*box-sizing: content-box;*/
    border: 5px solid yellow; 
}

.HeroThumb-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 10px;*/
    max-width: 180px;
    cursor: pointer;    
}

.HeroThumb-container > h5 {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 200;
    word-wrap: break-word;
}